body{
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
.main{
background-color:#081b29;
background-attachment: fixed;
width:100%;
}
nav ul{
color:white;
padding:0;
display:flex;
justify-content:center;
transition:1s;
}
header h1{
float:left;
margin:0;
font-family: 'Times New Roman', Times, serif;
letter-spacing: 1px;
color:white;
padding: 0;
font-size:2.2em;
}
nav{
padding-top:0.8em;
}
nav ul li{
padding:0.5em 2em;
}
nav ul li a{
color:white;
}
nav ul li a:after{
    display:flex;
    content: '';
    border-bottom: 2px solid;  
    padding-top:0.1em;
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    color:skyblue;
}
nav ul li a:hover:after{
    transform: scaleX(1); 
}
nav ul li:hover{
cursor: pointer;
}
header{
    display:flex;
    position:sticky;
    z-index:2;
    top:0px;
    justify-content:space-around;
    align-items:center;
    height:3em;
}
.homepagebutton{
color:White;
height:1em;
border:2px solid;
border-radius:4px 4px;
transition:1s;
}
.homepagebutton:hover{
color:skyblue;
}
.homepagebutton a:hover:after{
    transform: scaleX(0); 
}
.slashsymbol{
padding-top:0.5em;
}
nav ul a{
color:black;
text-decoration:none;
}
nav{
    position:sticky;
    bottom:0;
    top:20px;
}
.introduction{
position:relative;
display:flex;
background-color:#081b29;
margin-top:9em;
height:37.4em;
}
.personalinfo{
display:flex;
flex-direction: column;
width:70%;
align-items:center;
}
.personalinfo p{
    width:38.1em;
    }
.personname{
color:white;
font-size:3em;
width:12.8em;
margin:0;
}
.personprofession{
color:#0985ba;
width:20.2em;
font-size:1.9em;
margin:0;
}
.personinfo{
color:skyblue;
}
.personalfoto{
width:50%;
}
.mainphoto{
height:37.4em;
}
.Aboutme{
display:flex;
flex-direction:column;
justify-content: center;
align-items:center;
background-color:#0b3351;
height:50em;
}
.Personalphotomini{
border-radius:50%;
background-size:cover;
height:12em;
width:9.7em;
border: 4px solid white;
}
.myway{
color:skyblue;
width:49em;
}
.Certificate{
    height:2em;
    width:17em;
    cursor:pointer;
    background-color:#0985ba;
    border-radius: 8px 8px;
    font-size:1.1em;
    transition:0.8s;
    letter-spacing:2px;
    }
.Certificate:hover{
    box-shadow:7px 7px;
    transform:scale(1.1);
    color:white;
}
.Certificate:active{
    box-shadow:0px 0px;
}
@media (min-width: 420px) and (orientation: portrait) {
    .main{
    width:110%;
    }
    header{
    display:flex;
    flex-direction:column;
    height:auto;
    transition:2s;
    background:linear-gradient(#081b29, #0b3351);
    }
    .Certificate{
        font-size:2.7em;
        box-shadow:10px 10px;
        color:white;
        margin-top:1em;
    }
    .Certificate:active{
    color:black;
    box-shadow:0px 0px;
    }
    .mainphoto{
        height:58em;
        }
    .introduction{
    display:flex;
    flex-direction:column-reverse;
    justify-content: center;
    align-items: center;
    height:100%;
    margin:0;
    }
    .personalfoto{
    display:flex;
    justify-content: center;
    width:73%;
    }
    .personalinfo h2{
    width:100%;
    font-size:6em;
    text-align: center;
    }
    .personalinfo h3{
    width:auto;
    padding-top:0.2em;
    font-size:4em;
    }
    .personalinfo p{
    font-size:2.3em;
    width:20em;
    text-align:center;
    }
    .personalinfo{
    width:100%;
    padding-top:3.1em;
    }
    nav ul a{
    font-size:3em;
    }
    nav ul a.homelink{
    color:skyblue;
    }
    nav ul li{
        padding:0.5em 0.8em;
        }
    header h1{
    font-size:5em;
    padding-top:0.2em;
    }
    nav ul span{
    font-size:2.5em;
    padding-top:0.3em !important;
    }
    .homepagebutton{
    height:auto;
    border-radius: 8px 8px;
    }
    .homepagebutton:hover:after{
        transform: scaleX(0); 
    }
    nav ul li a:hover:after{
        transform: scaleX(0); 
    }
    .Aboutme{
    height:110%;
    }
    .Personalphotomini{
    font-size:3em;
    }
    .myway{
    font-size:2.3em;
    width:26em;
    text-align:center;
    }
}
@media (min-width: 768px) and (orientation: landscape){

    .introduction{
    height:100%;
    margin:0;
    align-items:center;
    }
    nav ul li a{
    font-size:1.1em;
    }
    .mainphoto{
    min-height:30em;
    max-height:30em;
    }
    .personalinfo h2{ 
    width:9.6em;
    }
    .personalinfo h3{ 
        width:15em;
        }
        .personalinfo p{ 
            width:28.4em;
            }
            .personalinfo{
            height:27.7em;
            }
            .Aboutme{
            height:100%;
            }
            .homepagebutton{
            height:auto;
            }
}

@media (min-width: 1024px) and (orientation: landscape){
    .main{
    width:100%;
    }
    .introduction{
    align-items: center;
    height: 100%;
    }
    .personalinfo{
    height:28em;
 }
    .mainphoto{
        height:32em;
        }
    .Aboutme{
    height:100%;
    }
}
@media (min-width: 1280px) and (orientation: landscape){
    .main{
    width:100%;
    }
    .mainphoto{
        min-height:40.4em;
        }
        .introduction{
            display:flex;
            flex-direction: row;
            align-items: self-end;
            justify-content: center;
            height: 100%;
            margin-top:1.5em;
            }
            .personalinfo p{
            width:31.7em;
            font-size:1.2em;
            }
            .personalinfo h2{
            width:12.7em;
            }
            .personalinfo h3{
            width:20em;
            }
            .personalinfo{
            height:35em;
            }
            .Aboutme{
            height:100%;
            }
            .Personalphotomini{
            height:15em;
            width:11.7em;
            }
            nav ul a{
                font-size:1.2em;
                }
            .Aboutme p{
                font-size:1.2em;
            }
}
