body{
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
.main{
background-color:#081b29;
background-attachment: fixed;
}
nav ul{
color:white;
padding:0;
display:flex;
justify-content:center;
transition:1s;
}
header h1{
float:left;
margin:0;
font-family: 'Times New Roman', Times, serif;
letter-spacing: 1px;
color:white;
padding: 0;
font-size:2.2em;
}
nav{
padding-top:0.8em;
}
nav ul li{
padding:0.2em 2em;
}
nav ul li a{
color:white;
}
nav ul li a:after{
    display:flex;
    content: '';
    border-bottom: 2px solid;  
    padding-top:0.1em;
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    color:skyblue;
}
nav ul li a:hover:after{
    transform: scaleX(1); 
}
nav ul li:hover{
cursor: pointer;
}
header{
    display:flex;
    position:sticky;
    z-index:2;
    top:0px;
    justify-content:space-around;
    align-items:center;
    height:3em;
    transition:0.2s;
}
.homepagebutton{
color:skyblue;
border:1px solid;
border-radius:8px 8px;
transition:1s;
}
.homepagebutton > a{
color:skyblue;
}
.slashsymbol{
padding-top:0.5em;
}
nav ul a{
color:black;
text-decoration:none;
}
nav{
    position:sticky;
    bottom:0;
    top:20px;
}
.introduction{
position:relative;
display:flex;
background-color:#081b29;
margin-top:9em;
height:37.4em;
}
.personalinfo{
display:flex;
flex-direction: column;
width:70%;
align-items:center;
}
.personalinfo p{
    width:38.1em;
    }
.personname{
color:white;
font-size:3em;
width:12.8em;
margin:0;
}
.personprofession{
color:#0985ba;
width:20.2em;
font-size:1.9em;
margin:0;
}
.personinfo{
color:skyblue;
}
.personalfoto{
width:50%;
}
.mainphoto{
height:37.4em;
}
.Aboutme{
display:flex;
flex-direction:column;
justify-content: center;
align-items:center;
background-color:#0b3351;
height:50em;
}
.Personalphotomini{
border-radius:50%;
background-size:cover;
height:12em;
width:9.7em;
border: 4px solid white;
}
.myway{
color:skyblue;
width:49em;
}
.Certificate{
    height:2em;
    width:17em;
    cursor:pointer;
    background-color:#0985ba;
    border-radius: 8px 8px;
    font-size:1.1em;
    transition:0.8s;
    letter-spacing:2px;
    }
.portfolio{
display:flex;
height:50em;
align-items:center;
justify-content:center;
background-color: #1d5b89;
}
.capstone-project{
display:flex;
flex-direction:column;
width:26em;
align-items:center;
height:13rem;
transition:1s;
box-shadow: 1px 3px 31px 10px #1c1f20;
    transform:scale(1.1);
}
.capstone-Image{
background:url("Capstone-Bild.png");
background-size:contain;
background-repeat: no-repeat;
height:5em;
width:26rem;
}
.app-description{
color:skyblue;
width:25em;
}
.Capstonebutton{
width:8em;
cursor:pointer;
font-size:1.1em;
border-radius: 8px 8px;
letter-spacing: 2px;
transition:1s;
}
.contact{
background-color:#1d4662;
height:60em;
}
.contact h2{
margin:0;
margin-bottom:3rem;
text-align:center;
padding-top:4em;
color:skyblue;
font-size:2.5em;
}
.contact form{
max-width:70rem;
margin:1rem auto;
text-align:center;
margin-bottom:3rem;
}
.contact form .inputs-section{
justify-content:center;
flex-wrap:wrap;
display:flex;
}
.contact form .inputs-section input,
.contact form textarea{
width:58.5%;
padding:1.5rem;
font-size: 1rem;
margin-top:1.5em;
margin-left:0.5em;
border-radius:1em;
border:none;
}
.contact form .inputs-section input{
height:2rem;
width:29%;
}
.btn{
margin-top:3rem;
background-color:#0f85b5;
font-size:1.3em;
letter-spacing: 2px;
border-radius:0.5em;
border:none;
cursor:pointer;
transition:1s;
width:10em;
height:1.5em;
}

.icons{
width:30.8em;
}
.icons a i{
font-size:1.8em;
}
.icons a{
position:relative;
display:inline-flex;
justify-content: center;
align-items:center;
width:3em;
height:3em;
background:transparent;
border:2px solid #00abf0;
border-radius:50%;
font-size:20px;
color:#00abf0;
text-decoration:none;
margin-left:0.9em;
margin-top:0.5em;
z-index:1;
overflow:hidden;
}
.icons a::before{
content:"";
position:absolute;
top:0;
left:0;
width:0;
height:100%;
background:#09487c;
z-index:-1;
transition:.5s;
}
.employee-app-card {
    background-color: transparent;
    width: 26em;
    height:14em;
    perspective: 1000px;
    margin-left:8em;
    transform:scale(1.1);
  }
  
  .employee-app-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 1px 3px 31px 10px #1c1f20;
  }
  
  .employee-app-card-front, .employee-app-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .employee-app-card-front {
    background-color: #446999;
    color:#fbf1f1;
    letter-spacing: 4px;
  }
  
  .employee-app-card-back {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }
  .employee-app-card-back h1{
   font-size:1.4em;
   margin-top:0;
  }
  .employee-app-card-back p{
   width:25em;
  }
  .employee-app-card-back button{
    width: 8em;
    color: white;
    cursor: pointer;
    background: #23a5da;
    font-size: 1.1em;
    box-shadow: 7px 6px #afcfe4;
    border-radius: 8px 8px;
    letter-spacing: 2px;
    transition: 1s;
    }
    .Skills img{
    animation: floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
    }
    .skill-icons-shadow{
        box-shadow:2px 29px 12px -22px #b9c4c8;
    }
    .Skills{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        height:61em;
        background-color: #0c426b;
    }
    .Skills h1{
        display: flex;
        font-size: 3em;
        letter-spacing: 6px;
        color: skyblue;
        justify-content:center;
        margin: 0;
    }
    .skills-list{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap:wrap;
    margin-top:4em;
    }
    .icons-list-1{
    display:flex;
    width:67em;
    justify-content: space-between;
    }
    .icons-list-2{
    display:flex;
    justify-content: space-between;
    width:75em;
    margin-left:3em;
    }
    .icons-list-2 img{
    height:10em;
    }
    .icons-list-3{
    display:flex;
    margin-top:5em;
    justify-content: space-around;
    }
    .skill-icons{
    height:11em;
    }

    @keyframes floatImage{
       0% {
        transform:translateY(0);
        }
         50% {
        transform:translateY(-14px);
        }
         100% {
        transform:translateY(0);
        }
    }

@media (min-width: 420px) and (orientation: portrait) {
    .main{
    width:110vw;
    }
    header{
    display:flex;
    flex-direction:column;
    height:auto;
    }
    .Certificate{
        font-size:2.7em;
        box-shadow:10px 10px;
        color:white;
        margin-top:2em;
    }
    .Certificate:active{
    color:black;
    box-shadow:0px 0px;
    transform:scale(0.9);
    font-size:auto;
    }
    .mainphoto{
        height:58em;
        }
    .introduction{
    display:flex;
    flex-direction:column-reverse;
    justify-content: center;
    align-items: center;
    height:113em;
    margin:0;
    }
    .personalfoto{
    display:flex;
    justify-content: center;
    width:73%;
    }
    .personalinfo h2{
    width:100%;
    font-size:9vw;
    text-align: center;
    }
    .personalinfo h3{
    width:auto;
    padding-top:0.2em;
    font-size:7vw;
    }
    .personalinfo p{
    font-size:4vw;
    width:20em;
    text-align:center;
    }
    .personalinfo{
    width:100%;
    padding-top:3.1em;
    }
    nav ul a{
    font-size:5vw;
    }
    nav ul a.homelink{
    color:skyblue;
    }
    nav ul li{
        padding:0.5em 0.8em;
        }
    a.cv{
    height:0;
    }
    header h1{
    font-size:8vw;
    padding-top:0.2em;
    }
    nav ul span{
    font-size:4.3vw;
    padding-top:0.3em !important;
    }
    .homepagebutton{
    height:auto;
    }
    nav ul li a:hover:after{
        transform: scaleX(0); 
    }
    .Aboutme{
    height:127rem;
    }
    .Personalphotomini{
    font-size:3em;
    }
    .myway{
    font-size:2.3em;
    width:26em;
    text-align:center;
    }
    .portfolio{
    display:flex;
    justify-content: center;
    height:127rem;
    }
    .app-description{
    font-size:2.1em;
    }
    .capstone-Image{
    width:53.8em;
    height:10em;
    }
    .capstone-project{
        height:31em;
        width:auto;
        margin:0 auto;
    }
    .Capstonebutton{
        font-size:2.7em;
        background-color:rgb(67, 88, 255);
        color:rgb(202, 227, 255);
        box-shadow:9px 9px rgb(202, 227, 255);
        transition:0.3s;
    }
    .Capstonebutton:active{
            transform: scale(0.9);
            box-shadow: 0px 0px;
        
    }
    .contact{
    height:123rem;
    }
    .contact .inputs-section{
        flex-direction: column;
        align-items:center;
    }
    .contact h2{
    font-size:5em;
    }
    .contact form .inputs-section input{
    font-size:2.6em;
    height:2.3em;
    width:20em;
    margin-top:1em;
    }
    .contact form textarea{
    font-size:2.6em;
    width:24.4em;
    }
    .btn{
        font-size:2.8em;
        margin-top:2em;
        box-shadow:1px 1px 24px 3px skyblue;
        color:#b5d9e7;
        border-radius:0.5em;
        transform:scaleX(1);
        transition:0.8s;
    }
    .btn:active{
    transform:scaleX(0.8);
    box-shadow:none;
    color:black;
    }
    .icons{
    width:38em;
    }

    .icons a i{
    font-size:3.8em;
    }

    .icons a{
    width:7em;
    height:7em;
    margin-left:2em;
    }
    .icons a:active::before{
        width:100%;
        }
        .portfolio{
            display:flex;
            flex-direction:column;
            }
            .employee-app-card{
                font-size: 2.07em;
                margin-top:6em;
                margin-left:0;
                }
                .employee-app-card-back button{
                    font-size:1.3em;
                    box-shadow: 9px 9px #afcfe4;
                    color:rgb(229 233 238);
                    transition:0.8s;
                    }
                .employee-app-card-back button:active{
                    transform:scaleX(0.8);
                    box-shadow:none;
                }
                .Skills{
                height:127em;
                justify-content: center;
                }
                .icons-list-2{
                width:43em;
                margin-top:6em;
                margin-left:0;
                }
                .icons-list-2 img{
                height:19em;
                }
                .Skills h1{
                font-size:6em;
                }
                .icons-list-1 img{
                height:19em;
                margin-top:4em;
                }
                .icons-list-1{
                width:45em;
                flex-wrap:wrap;
                margin-right:3.5em;
                }
                #react-icon-shadow{
                margin-left:8em;
                }
                .icons-list-3{
                display:flex;
                margin-top:8em;
                align-self:center;
                }
                .icons-list-3 img{
                height:14em;
                }
                .skills-list{
                align-items:center;
                margin-top:5em;
                }
                #github-logo-shadow{
                margin-left:5em;
                }
}
@media (min-width: 755px){
    .introduction{
    margin:0;
    align-items:center;
    height:48em;
    }
    nav ul li a{
    font-size:1.1em;
    }
    .mainphoto{
    height: 23em;
    border: 5px solid white;
    border-radius: 50%;
    background: #073c52;
    padding-top:1em;
    }
    .Certificate{
        box-shadow:8px 8px;
        color:white;
        margin-top:2em;
    }
    .Certificate:active{
        color:black;
        box-shadow:0px 0px;
        transform:scale(0.9);
        }
    .capstone-project{
    height:14em;
    }
    nav ul li a:hover:after{
        transform: scaleX(0); 
    }
    .personalinfo h2{ 
    width:9.6em;
    font-size:2.3em;
    }
    .personalinfo h3{ 
        width:13.5em;
        font-size:1.6em;
        }
        .personalinfo p{ 
            width:22.3em;
            }
            .personalinfo{
            height:37vh;
            width:49%;
            }
            .personalfoto{
            width:50%;
            height:25em;
            }
            .myway{
            width:42em;
            }
            .homepagebutton a{
            height:auto;
            }
            .Capstonebutton{
                background-color:rgb(67, 88, 255);
                color:rgb(202, 227, 255);
                box-shadow:7px 7px rgb(202, 227, 255);
            }
            .Capstonebutton:active{
                    transform: scale(0.9);
                    box-shadow: 0px 0px;
                    transition:none;
                
            }
            .icons a:active::before{
                width:100%;
                }
            .portfolio{
            display:flex;
            flex-direction:column;
            height:60em;
            }
            .Aboutme{
            height:60em;
            }
            .employee-app-card{
            margin-top:4em;
            margin-left:0;
            }
            .employee-app-card-inner{
            box-shadow:2px 9px 33px 10px #1c1f20;
            }
            .icons-list-2{
                width: 42em;
                margin-top: 5em;
                justify-content: space-around;
}
            .icons-list-1{
                justify-content: space-around;
                width:43em;
            }
            .skill-icons{
            height:9em;
            }
            .icons-list-2 img{
                height:9em;
                }
            .icons-list-3 #nextjs-logo-shadow{
            margin-left:2em;
            }
            .icons-list-3 #github-logo-shadow{
            margin-right:2em;
            }
            .skills-list{
            width:45em;
            }
            .icons{
            width:24.8em;
            }
}

@media (min-width: 1024px) and (orientation: landscape){
    .main{
    width:100%;
    }
    .introduction{
    align-items: center;
    }
    .personalinfo{
        height: 21em;
        width: 59%;
 }
 nav ul li a:hover:after{
    transform: scaleX(1); 
}
    .mainphoto{
        height:31em;
    border: none;
    background: none;
        }
        .Certificate{
            box-shadow:0px 0px;
            color:black;
            margin-top:1em;
        }
        .Certificate:hover{
            box-shadow:7px 7px;
            transform:scale(1.1);
            color:white;
        }
        .Certificate:active{
            transform: scale(1);
            box-shadow: 0px 0px;
            transition:none;
        }

        .Capstonebutton{
        box-shadow:none;
        background-color:white;
        color:black;
        }
        .Capstonebutton:hover{
            box-shadow:7px 7px rgb(202, 227, 255);
            transform:scale(1.1);
            background-color:rgb(67, 88, 255);
            color:rgb(202, 227, 255);
        }
        .Capstonebutton:active{
                transform: scale(0.9);
                box-shadow: 0px 0px;
                transition:none;
            
        }
    .portfolio{
    display:flex;
    flex-direction:row;
    height:56em;
    }
    .Aboutme{
    height:56em;
    }
    .btn:hover{
        box-shadow:1px 1px 6px 5px rgb(202,227,255);
        transform:scale(1.1);
        color:rgb(202, 227, 255);
    }
    .btn:active{
        transform:scale(0.9);
        transition:none;
        box-shadow:none;
        color:black;
        }
        .icons a:hover::before{
            width:100%;
            }
              .employee-app-card{
                margin-top:0;
                margin-left:6em;
                }
                .employee-app-card-back button{
                    box-shadow: none;
                    background-color: white;
                    color:black;
                    }
                    .employee-app-card:hover .employee-app-card-inner {
                        transform: rotateY(180deg);
                    }
                    .employee-app-button:hover{
                        box-shadow:7px 7px rgb(202, 227, 255);
                        transform:scale(1.1);
                        background-color:#23a5da;
                        
                    }
                    .employee-app-button{
                        margin-top:1.5em;
                        }
                   .employee-app-button:active{
                    transform:scale(1);
                    transition:none;
                    box-shadow:none;
                   } 
                    
                        .skill-icons{
                            height:11em;
                            }
                            .icons-list-1{
                            width:60em;
                            }
                            .icons-list-2 img{
                                height:11em;
                                }
                                .icons-list-2{
                                    width: 59em;
                                    margin-top: 5em;
                                    justify-content: space-around;
                }
                .icons-list-3 img{
                height:10em;
                }
                .skills-list{
                width:62em;
                }
}
@media (min-width: 1280px) and (orientation: landscape){
    .main{
    width:100%;
    }
    .mainphoto{
        min-height:38em;
        }
        .slashsymbol{
            padding-top:0.3em;
            }
        .introduction{
            display:flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top:0;
            height:51rem;
            }
            .personalinfo p{
            width:31.7em;
            font-size:1.2em;
            }
            .personalinfo h2{
            width:16.7em;
            }
            header{
            background-color:transparent !important;
            }
            nav ul li a:hover:after{
                transform: scaleX(1); 
            }
            .personalinfo h3{
            width:24em;
            }
            .personalinfo{
            height:26em;
            }
            .personalfoto{
            width:50%;
            height:31em;
            }
            .Personalphotomini{
            height:15em;
            width:11.7em;
            }
            nav ul a{
                font-size:1.2em;
                }
            .Aboutme p{
                font-size:1.2em;
            }
            .Aboutme{
            height:60em;
            }
            .portfolio{
                height:51rem;
                }
                .Capstonebutton:hover{
                    box-shadow:7px 7px rgb(202, 227, 255);
                    transform:scale(1.1);
                    background-color:rgb(67, 88, 255);
                    color:rgb(202, 227, 255);
                }
                .Capstonebutton:active{
                        transform: scale(0.9);
                        box-shadow: 0px 0px;
                        transition:none;
                    
                }
                .btn:hover{
                    box-shadow:1px 1px 6px 5px rgb(202,227,255);
                    transform:scale(1.1);
                    color:rgb(202, 227, 255);
                }
                .btn:active{
                    transform:scale(1);
                    transition:none;
                    box-shadow:none;
                    color:black;
                    }
                    .icons{
                    width:40.5em;
                    }
                    .icons a:hover::before{
                        width:100%;
                        }
                        .employee-app-card:hover .employee-app-card-inner {
                            transform: rotateY(180deg);
                          }
                          .icons-list-1{
                          justify-content: space-between;
                          }
                          .icons-list-3{
                          width:67em;
                          justify-content: space-between;
                          }
                          #nextjs-logo-shadow{
                        margin:0 !important;
                          }
                          .skills-list{
                        width:61em;
                          }
}
@media (min-width: 1600px) and (orientation: landscape){

    .introduction{
        display:flex;
        flex-direction: row;
        align-items: self-end;
        justify-content: center;
        margin-top:1.2em;
        height:60rem;
        }
        .mainphoto{
            min-height:48.4em;
            }
            .personalinfo{
                height:45em;
                }
                .Aboutme{
                    height:70em;
                    }
                    .portfolio{
                    height:62rem;
                    }
                    .Capstonebutton:hover{
                        box-shadow:7px 7px rgb(202, 227, 255);
                        transform:scale(1.1);
                        background-color:rgb(67, 88, 255);
                        color:rgb(202, 227, 255);
                    }
                    .Capstonebutton:active{
                            transform: scale(0.9);
                            box-shadow: 0px 0px;
                            transition:none;
                        
                    }
                    .contact{
                    height:62em;
                    }
                    .btn:active{
                        transform:scale(0.9);
                        transition:none;
                        box-shadow:none;
                        color:black;
                        }
                        .icons a:hover::before{
                            width:100%;
                            }
                            .employee-app-card:hover .employee-app-card-inner {
                                transform: rotateY(180deg);
                              }
}